.main{
    text-align: center;
}

#login-box{
    margin-top: 1rem;
    border-radius: 0.5rem;
    height: 47rem;
    overflow: auto;
    margin-bottom: 2rem;
}

.main h2{
    margin-top: 1rem;
}


#pfp img{
    border: 0.1rem solid black;
    margin-top: 1rem;
    width: 7rem;
    height: 7rem;
    margin-bottom: 1rem;
}

#pfpinput{
    margin: 1em;
    width: 325px;
    border: 1px;
    background-color: #F7F7F7;
    border: 1px solid #FF4040;
    padding: 1em;
    border-radius: 0.5rem;
}