body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.delete-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.movie {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 200px;
    text-align: center;
    position: relative;
    /* Para que el icono se posicione correctamente */
    transition: transform 0.2s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie:hover .delete-icon {
    opacity: 1;
}

.movie img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
}

.movie-title {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

#editarLista img {
    width: 2.5rem;
}

#editarLista {
    margin-left: 0.5rem;
}
